{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Seberapa jauh Anda mengenal Jakarta?</h1>      
    <p>Halo, warga Jakarta!Ayo uji pengetahuanmu tentang Jakarta melalui kuis ini!</p>
  <p><a class="btn btn-primary btn-lg" href="/data" role="button">Ikut Kuis</a></p>
  </div>     
  <center><img src="https://static.vecteezy.com/system/resources/previews/000/127/569/non_2x/free-landmark-jakarta-vector.jpg" class="img-rounded" alt="DKI Jakarta" width="404" height="336">
  <p>Sumber data : data.jakarta.go.id</p>
  <p>Sumber gambar: static.vecteezy.com</p> </center>     
</div>
{% endblock %}
